<p id="notice"><%= notice %></p>
<div class="col-md-6 col-md-offset-3">
<div class="card">
<table class="table table-striped">
<br>  
  	<tbody>
      	<tr>
		  <td><strong>Nama kelurahan:</strong></td>
		  <td><%= @kelurahan.nama_kelurahan %></td>
		</tr>
		<tr>
		  <td><strong>Kecamatan:</strong></td>
		  <td><%= @kelurahan.kecamatan.nama_kecamatan %></td>
		</tr>
		<tr>
		  <td><strong>Admin id:</strong></td>
		  <td><%= @kelurahan.admin.nama%></td>
		</tr>
	</tbody>
</table>
<br>
<br>
<div class="col-md-offset-5">
		<%= link_to 'Edit', edit_kelurahan_path(@kelurahan), class:'btn btn-warning'  %> |
		<%= link_to 'Back', kelurahans_path, class:'btn btn-primary'  %>
</div>
<br>
<br>
</div>
</div>