<p id="notice"><%= notice %></p>
<div class="container-fluid">
<h1>Data Kecamatan
<br>
<br>
  <%= link_to 'Tambah Kecamatan', new_kecamatan_path, class:'btn btn-primary pull-left' %>
<br>
</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nama kecamatan</th>
      <th>Kabupaten</th>
      <th> Admin </th> 
      <th>Aksi</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kecamatans.each do |kecamatan| %>
      <tr>
        <td><%= kecamatan.nama_kecamatan %></td>
        <td><%= kecamatan.kabupaten.nama_kabupaten %></td>
        <td><%= kecamatan.admin.nama %></td>
        <td><%= link_to 'Show', kecamatan, class:'btn btn-primary' %></td>
        <td><%= link_to 'Edit', edit_kecamatan_path(kecamatan), class:'btn btn-warning' %></td>
        <td><%= link_to 'Destroy', kecamatan, method: :delete, data: { confirm: 'Anda yakin ingin menghapus?' }, class:'btn btn-danger' %></td>
      </tr> 
    <% end %>
  </tbody>
</table>
</div>

